/* 19-January-2023 */
/* Edit zoom meeting css file*/

.fill {
    font-size: 1.2rem;
    font-weight: 500;
    color: #6193F3;
}

label {
    text-transform: capitalize !important;
    font-size: 0.9rem !important;
}

@media only screen and (max-width: 768px) {
    .right_side {
        padding-left: 0 !important;
    }
}

/* 23-August-2022 by Sourav */
#userForm>div>div>div.col-md-11.d-flex.justify-content-end.ml-3 {
    margin-right: 2rem !important;
}

.star {
    color: red;
}

.card-title {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: #003865;
}

.seprate {
    border-bottom: 2px solid #003865;
}

/* Text and Text Divider code 19-Jan-2023 */
.text-start {
    text-align: left !important;
}

.divider {
    display: block;
    text-align: center;
    margin: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
}

.divider.text-start .divider-text {
    padding-left: 0;
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    padding: 0rem 1rem;
}

.divider .divider-text:before {
    right: 100%;
}

.divider .divider-text:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    border-top: 1px solid #d4d8dd;
}

.divider .divider-text:after {
    left: 100%;
}

.divider .divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    border-top: 1px solid #003865;
}

.divider-text {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: #003865;
}