/* agent-form create edit and add organisation css file */

.error {
    color: red;
}

html {
    scroll-behavior: smooth;
}

label {
    text-transform: capitalize !important;
    font-size: 0.9rem !important;
}

.input_field {
    display: flex;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#select {
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: none;
}

.star {
    color: red;
}

@media only screen and (max-width: 768px) {
    .right {
        padding-left: 0 !important;
    }
}

/* 13-Dec-2022 */
.grp,
.add_pre {
    font-size: 1.2rem;
    color: #003865;
    font-weight: 600;
}



/* Text and Text Divider code  13-Dec-2022 */
.text-start {
    text-align: left !important;
}

.divider {
    display: block;
    text-align: center;
    margin: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
}

.divider.text-start .divider-text {
    padding-left: 0;
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    padding: 0rem 1rem;
}

.divider .divider-text:before {
    right: 100%;
}

.divider .divider-text:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    border-top: 1px solid #d4d8dd;
}

.divider .divider-text:after {
    left: 100%;
}

.divider .divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    border-top: 1px solid #003865;
}

.divider-text {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: #003865;
}