/* for add & edit blade css*/
label{
    text-transform: capitalize !important;
    font-size: 0.9rem !important; 
}
.add, .edit{
 font-size: 1.2rem;
 font-weight: 500;
 color: #6193F3;
}
.seprate{
color: #014493;
border: 1px solid #014493;
width: 100%;
}
.top{
    margin-top: 20px;
    margin-bottom: 15px;
    color: black;
}
.smtp{
    margin-top: 20px;
    margin-bottom: 15px;
    color: black;
}
.convert{
    margin-top: 20px;
    margin-bottom: 15px;
    color: black;
}

@media only screen and (max-width: 766px){
    .right{
        padding-left: 0 !important;
    }
}
.star{
    color: red;
}


