

.create{
    font-size: 1.2rem;
    font-weight: 500;
    color: #6193F3; 
   }

   .star{
    color: red;
     }

    label{
        text-transform: capitalize !important;
        font-size: 0.9rem !important; 
      }

    .edit{
        font-size: 1.2rem;
        font-weight: 500;
        color: #6193F3;  
        }

   .seprate{
    color: #014493;
    border: 1px solid #014493;
    width: 100%;
    }

    @media only screen and (max-width:760px){
        .right-side{
            padding-left: 0px !important; 
        }
      }
 