label {
    text-transform: capitalize !important;
    font-size: 0.9rem !important;
}

.star {
    color: red;
}

body>footer>div>div.col-md-4.text-left {
    margin-top: 30px;
    margin-bottom: -18px;
}

body>footer>div>div.col-md-4.text-center {
    margin-top: 30px;
    margin-bottom: -18px;
}

body>footer>div>div.col-md-4.text-right {
    margin-top: 30px;
    margin-bottom: -18px;
}

/* 13-Oct-2022 */
#setting {
    color: #003865;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

/* 14-March-2023 */
.back-nav {
    background: no-repeat !important;
}

.right-border {
    border-radius: 0 25px 25px 0 !important;
}

.tab-content {
    box-shadow: 1px 1px 18px 0 rgb(25 42 70 / 13%) !important;
    /* padding: 0 !important; */
}